<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
      <h1 align="center">Employee Records New </h1><hr>
      <table border="2px">
        {% if emp %}
        <thead>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee SALARY</th>
          <th>Employee ADDRESS</th>
        </thead>
        {% for e in emp %}
        <tr>
          <td>{{e.eid}}</td>
          <td>{{e.ename}}</td>
          <td>{{e.esal}}</td>
          <td>{{e.eaddr}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No record found</p>
        {% endif %}
      </table>
      <a href="/aggregate" class="btn btn-primary btn-lg"> Average of Employee</a>
    </div>
      </div>
  </body>
</html>
